@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';

.spinner {
  &__bg {
    position: fixed;
    top: $header-height-mobile;
    right: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - $header-height-mobile);
    background-color: $color-dark;

    @include onDesktop {
      top: $header-height-desktop;
      height: calc(100vh - $header-height-desktop);
    }
  }

  &__item {
    width: 20px;
    height: 20px;
    padding: 10px;

    background-color: $color-dark;
    border: 4px solid rgba(59, 63, 77, 0.24);
    border-top: 4px solid $color-accent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
