@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';

.accessories {
  padding-block: 24px;

  @include onTablet {
    padding-block: 40px;
  }

  &__breadCrumbs {
    margin-block-end: 24px;

    @include onTablet {
      margin-block-end: 40px;
    }
  }

  &__title {
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    color: $color-white;
  }

  &__model {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    color: $color-secondary;
  }

  &__selects {
    display: flex;
    max-width: 400px;
    column-gap: 15px;
    margin-bottom: 20px;
  }

  &__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 270px));
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 30px;
  }

  &__card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
